/*Barra de Pesquisa*/
#input-pesquisa{
     
    
    padding: 10px;
    width: 70%;
    /* box-shadow: 1px 2px 1px 2px white; */
    font-size: 30px;
    border-radius: 100px 100px;
    font-weight: bolder;
    text-align: center;
}


html, body{
    height: 100%;
}





.pesquisa-filtro{
  width: 100%;  
  text-align: center;
  margin: auto;
  width: 80%;
  padding: 15px;
}



/*Cards dos jogadores*/
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: grey;
    margin: 65px;
    width: 250px;
    height: 300px;
    box-shadow: 1px 2px 3px 4px rgba(30,20,20,0.4);
    margin-top: 65px;
    color: whitesmoke;
    border-radius: 20px;
}

body{
   background-color: rgb(1,1,1);

  }
  

.card img{
    border-radius: 50px;
    margin-top: -45px;
    width: 100px;
    border: 1px solid  grey;
}




#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;



}


@media screen and (max-width: 768px) {
    header img{
        width: 50%;
    }
    input{
        box-shadow: 1px 1px 3px 1px black;
    }
}
