
html, body{
    height: 100%;
}

 body{
    background-color: rgb(1, 1, 1);
} 


#container{
    width: 90%;
    height: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
#buttom-detail{
    height: fit-content;
    width: 400px;
    font-size: 35pt;
    padding: 40px;
    margin: 50px 0 0 0;
    border-radius: 50px;
    background-color: white;
    border: 1px solid black;
   
}


    


#container-jogador{
    text-align: center;
    width: 100%;
    border: none;
    box-shadow: 2px 2px 50px white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    color: white;
    padding: 40px;
    height: fit-content;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    
}

#container-jogador > img{
    width: 10%;
    height: 100%;
    border-radius: 10px;


}

#buttom-detail:hover{
    cursor: pointer;
    opacity: 0.6;
}
